body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background: rgb(121,9,30);
background: radial-gradient(circle, rgba(121,9,30,1) 39%, rgba(134,18,27,1) 45%, rgba(180,70,17,1) 73%);
text-align: center;
padding-top: 50px;
padding-bottom: 50px;
}

h1, h2{
	font-family: 'Cinzel', serif;
}

header h1{
	color: white;
	font-size: 50px;

}

header img{
	border-radius: 15px;
	width: 300px;
	border: 10px solid #b44611;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color: #86121b;
	margin: 40px 0 10px;
}

a{
	color: #86121b;
}

a:hover{
	color: #b44611;
}

footer{
	background: rgb(121,9,30);
background: radial-gradient(circle, rgba(121,9,30,1) 39%, rgba(134,18,27,1) 45%, rgba(180,70,17,1) 73%);
text-align: center;
color: white;
padding: 50px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

p.caption{
	color: #CCD1D1;
	font-style: italic;
	margin-top: 0;
}





